{{set . "title" "Teams"}}
{{template "header.html" .}}

<script>

    let editor;

    $(document).ready(function () {

        $("#teams").addClass("active")

        editor = new $.fn.dataTable.Editor({
            ajax: {
                create: '/api/teams', // default method is POST
                edit: {
                    type: 'PUT',
                    url: '/api/teams/_id_'
                },
                remove: {
                    type: 'DELETE',
                    url: '/api/teams/_id_'
                }
            },
            table: "#teamsTable",
            idSrc: "id",
            fields: [{
                label: "Name:",
                name: "name"
            }
            ]
        });

        // Edit record
        $('#teamsTable').on('click', 'td.editor-edit', function (e) {
            e.preventDefault();

            editor.edit( $(this).closest('tr'), {
                title: 'Edit record',
                buttons: 'Update'
            } );
        } );

        // Delete a record
        $('#teamsTable').on('click', 'td.editor-delete', function (e) {
            e.preventDefault();

            editor.remove( $(this).closest('tr'), {
                title: 'Delete record',
                message: 'Are you sure you wish to remove this record?',
                buttons: 'Delete'
            } );
        } );

        $('#teamsTable')
            .DataTable({
                serverSide: true,
                dom: "Bfrtip",
                ajax: "/api/teams",
                processing: true,
                searching: false,
                search: {
                    return: true,
                },
                ordering: false,
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All'],
                ],
                columns: [
                    {
                        data: 'id',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'name',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'updatedAt',
                        searchable: false,
                        render: DataTable.render.datetime( 'YYYY-MM-DD HH:mm:ss' ),
                        orderable: false
                    },
                    {
                        data: null,
                        className: "dt-center editor-edit",
                        defaultContent: '<i class="fa fa-pencil"/>',
                        orderable: false
                    },
                    {
                        data: null,
                        className: "dt-center editor-delete",
                        defaultContent: '<i class="fa fa-trash"/>',
                        orderable: false
                    }
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                buttons: [
                    {extend: "create", editor: editor}
                ]
            });
    });
</script>

{{template "navbar.html" .}}

<div class="container-fluid">
    <h1>Teams</h1>

    <table class="table" id="teamsTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Updated At</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>

{{template "footer.html" .}}
